@model WeatherCommon.Classes.WindGenerator

<body style="background-image:url(https://i.imgur.com/wUreE5Y.jpg);background-size:cover;text-align:right;">
    <div >
        <h1>@Model.Weather.City</h1>
        <br />

        <h3>Windmill Count: @Model.WindMillCnt</h3>
        <h3>Power: @Math.Round(Model.Power, 3) W</h3>
        <h3>Minimum Power: @Model.WindMill.MinPower W</h3>
        <h3>Turbine Diameter: @Model.WindMill.TurbineDiameter m</h3>
        <h3>Maximum wind speed: @Model.WindMill.MaxSpeed m/s</h3>
        <h3>Maximum wind speed time: @Model.WindMill.MaxSpeedTime s</h3>
        <h3>Aggregate turned on for @Model.AggregateONCnt hours</h3>
        <h3>Aggregate work cost: @Model.TotalAggregateCost RSD</h3>


        <br />

        <h3>Weather</h3>
        <h4>Weather description: @Model.Weather.Description</h4>
        <h4>Min Temperature: @Model.Weather.MinTemp &deg;C</h4>
        <h4>Max Temperature: @Model.Weather.MaxTemp &deg;C</h4>
        <h4>Pressure: @Model.Weather.Pressure mbar</h4>
        <h4>Air density: @Model.Weather.AirDensity kg/m<sup>3</sup></h4>
        <h4>Wind speed: @Model.Weather.WindSpeed m/s</h4>
        <br />


        <h3>Aggregate</h3>
        @{
            if (!Model.Aggregate.State)
            {
                <h4>OFF</h4>}
            else
            {
                <h4> ON </h4>}
        }
        <h4>Power: @Model.Aggregate.Power W</h4>
        <h4>Cost per hour: @Model.Aggregate.CostPerHour RSD</h4>
        <br />
        @Html.ActionLink("Back to Index", "Index");
    </div>
    </body>