@model WeatherCommon.Classes.WindGenerator

<h1>@Model.Weather.City Wind Generator</h1>
<br />

<h3>Windmill Count: @Model.WindMillCnt</h3>
<h3>Power: @Model.Power</h3>
<h3>Minimum Power: @Model.WindMill.MinPower</h3>
<h3>Turbine Diameter: @Model.WindMill.TurbineDiameter</h3>
<h3>Maximum wind speed: @Model.WindMill.MaxSpeed</h3>
<h3>Maximum wind speed time: @Model.WindMill.MaxSpeedTime</h3>


<br />

<h3>Weather</h3>
<h4>Weather description: @Model.Weather.Description</h4>
<h4>Min Temperature: @Model.Weather.MinTemp</h4>
<h4>Max Temperature: @Model.Weather.MaxTemp</h4>
<h4>Pressure: @Model.Weather.Pressure</h4>
<h4>Air density: @Model.Weather.AirDensity</h4>
<h4>Wind speed: @Model.Weather.WindSpeed</h4>
<br />


<h3>Aggregate</h3>
@{
    if (!Model.Aggregate.State)
    {
        <h4>OFF</h4>}
    else
    {
        <h4> ON </h4>}
  }
<h4>@Model.Aggregate.Power</h4>
<h4>@Model.Aggregate.CostPerKwh</h4>
<br />
@Html.ActionLink("Update1", "Update1");